body {
  margin: 1rem;
  padding: 0;
  background-color: black;
  font-family: monospace;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 1rem;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.profile-links {
  margin-top: 1rem;
 
}

.profile-links a:not(:last-child) {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.profile-links a img {
  transition: transform 0.2s;
  margin-bottom: 1rem; /* add margin-bottom */
}

.profile-links a img:hover {
  transform: scale(1.2);
}
